

.info{
    
    display: block;
    background-color: rgba(235, 235, 235, 1);
    border-style: groove;
    border-width: 2px 2px 2px 2px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}