.slides{
    width: 90%;
    max-height: inherit;   
    margin: auto;
}

img{   
    width: 70%;     
    float: left;   
    max-height: inherit;   
}

.slideshowContainer{
    display: flex;
    background-color: rgba(255, 255, 255, 0);   
    width: 90%; 
    position: relative;
    margin: 10px auto;    
    max-height: 600px;
    max-width: 1000px;    
    overflow: hidden;
}

.prev, .next {    
    display: flex;
    cursor: pointer;
    position: absolute;
    top: 10%;
    bottom: 10%;
    width: auto;
    height: inherit;
    padding: 16px;   
    color: rgba(0,0,0,0.8);
    font-weight: bold;
    font-size: 18px;    
    margin: auto;
    transition: 0.6s ease;
    border-radius: 3px 3px 3px 3px;
    user-select: none;
    border: solid 2px rgba(0,0,0,0.2);
    background-color:  #603A01;
  }

span{
    color: white;
    vertical-align: middle;
    text-align: center;
    margin: auto;
}

.next {
    right: 0;    
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.captionText {    
    font-size: 15px;     
    width: 40%;
    float: right; 
    background-color: white;                         
}

.numberText {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.404);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}