@charset "utf-8";
/* 
    Authors:
        Joshua LaForest
        Harsh Bhalala

        Dr. Kunuthia
        ISYS 288

        Description of file: This css file houses all the styling for the elements
        consisten across multiple pages of the website. This includes the navbar
        card layouts and the background colors
*/
/* Style the navigation bar */

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#title{
  background-color: #603A01;
  background: linear-gradient(90deg, #603A01 375px,rgb(199, 188, 173) 60%);
  color: crimson;
  width: auto;
  text-shadow: 5px 2px 2px  black;
}
h1{
    font-style: oblique;font-size: 50px;
}

body{
    background-color: rgb(199, 188, 173);
    background-repeat: no-repeat;
    background-size: cover;
}
marquee{
    font-size: 0.5cm;
    background-color: yellow;
}

/* Navbar links */

.navbar{
    overflow: hidden;
    background-color: #603A01;  
  }
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  

/* Current/active navbar link */
.active {
    background-color: #4CAF50;
  }
  
  .info{
    background-color: white;
  }
  
  .info p, .info h3{
    font-size: 2em;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
}

.navbar a:hover{
    color: rgb(122, 122, 122);
  }

.info{
    
    display: block;
    background-color: rgba(235, 235, 235, 1);
    border-style: groove;
    border-width: 2px 2px 2px 2px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;

    word-wrap: break-word;
    word-break: keep-all;
}

aside :first-child {
    width: auto;
    padding: 0px 40px;
    margin: 0px 10px 0px 0px;
    float: left;
    display: block;
    font-size: 2em;
    box-shadow: inset -5px 0 0 0 #fc9f69;
    font-style: italic;
    color: black;
    text-shadow: -2px 2px 1px#fc9f69;
}

div.card{
    width: 90%;    
    margin: 10px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
              , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(255, 255, 255)
}

strong{
    color: #fc9f69;
    font-size: 1.1em;
}

.pictureCard{
    background-color: rgba(255, 255, 255, 1);
    border-style: groove;
    border-width: 2px 2px;
    width: 50%;
    margin: 50px auto;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
              , 0 6px 20px 0 rgba(0, 0, 0, 0.19);   

    font-size: 1.5em;
}

span{
    color :#fc9f69;
}

.processCard h2{
    text-align: center;
}

.processCard{            
    width: 90%;    
    text-align: center;
    margin: auto;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
              , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(255, 255, 255);    
}

.pictures{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin:auto;    
    align-items: center;
}

.singleImg{
    padding: 10px 10px;
    flex: auto;
    width: 200px;   
    margin: 5px;  
    max-width: 400px; 
}

img{
    width: 100%;
    height: auto;
}

.link{
    text-align: center;
}