@charset "utf-8";
/* CSS Document */
/* Style the navigation bar */

#title{
  background-color: #603A01;
  
  width: auto;
}
h1{
    font-style: oblique;font-size: 50px;
}

body{
    background-image: url(Background%20Image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
marquee{
    font-size: 15;
    background-color: yellow;
}
/* Navbar links */

.navbar{
  overflow: hidden;
  background-color: #603A01;  
}
.navbar a {
  float: left;
  text-align: center;
  padding: 12px 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.dropdown{
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn{
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 12px 12px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn{
  color: rgb(122, 122, 122);
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
}

.dropdownContent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdownContent {
  display: block;
}

/* Current/active navbar link */
.active {
  background-color: #4CAF50;
}

.info{
  background-color: white;
}

.info p, .info h3{
  font-size: 2em;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
